<!-- <div class="row" id="footerbox">
   
        <div class="col-md-3">
          <p>
            <font color="white">Home</font>
          </p>
          <p>
            <font color="white">Temples</font>
          </p>
          <p>
            <font color="white">Gallery</font>
          </p>
          <p>
            <font color="white">Trust Boards</font>
          </p>
        </div>
        <div class="col-md-3">
          <p>
            <font color="white">Values</font>
          </p>
          <p>
            <font color="white">Hindu Dharmika Parishad</font>
          </p>
          <p>
            <font color="white">Veda and Agama Patashala</font>
          </p>
          <p>
            <font color="white">Common Good Fund</font>
          </p>
          <p>
              <font color="white">Dhoopa Deepa Naivedyam</font>
            </p>
            <p>
                <font color="white">Archaka Welfare Fund</font>
              </p>
        </div>
        <div class="col-md-3">
            <p>
              <font color="white">Services</font>
            </p>
            <p>
              <font color="white">Seva</font>
            </p>
            <p>
              <font color="white">Darsanam</font>
            </p>
            <p>
              <font color="white">Accommodation</font>
            </p>
            <p>
                <font color="white">Donation</font>
              </p>
          </div>
          <div class="col-md-3">
              <p>
                <font color="white">GET IN TOUCH</font>
              </p>
              <p>
                <font color="white">Andhra Pradesh, India</font>
              </p>
              <p>
                <font color="white">Mobile: +91 9999999999</font>
              </p>
              <p>
                <font color="white">Email: jon@gmail.com</font>
              </p>
            </div>
      </div> -->

<div class="row" id="footerbox">
  <div class="col-md-3">
    <div class="contact_layt">
      <!-- <h1>Feedback</h1>

      <p>Gollapudi</p>
      <p>Vijayawada 521 225.</p>
      <p>Andhra Pradesh, India</p> -->




     <h6>Contact</h6>
        <p>On-CallSupport</p>
        <p>STD: 08573-281540(Enquriy),281747(Office)</p>
          
          <p>(9 AM To 6.30 PM)</p>
           
            <p>Email: kanipakam_eo@yahoo.com</p>
              
     
    </div>
</div>
 

<div class="col-md-2"></div>
<div class="col-md-3">
  <div class="contact_layt">
    <h6>Complaints</h6>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tooltip-contact">
          <select class="comptempsel" id="plgcomtype" tabindex="2">
            <option value="-1" selected="" disabled="">Select Complaint Type</option>
            <option value="1">Facilities</option>
            <option value="2">Timings</option>
            <option value="3">Bookings</option>
            <option value="4">Contacts</option>
          </select>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tooltip-contact">
          <input type="text" id="plgname" class="feedbackbox" name="Username" placeholder="Name" tabindex="3" maxlength="25">

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tooltip-contact">
          <input type="text" name="email" id="plgemail" class="feedbackbox" placeholder="Email ID" tabindex="4" maxlength="50">

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tooltip-contact">
          <input type="text" class="feedbackbox" name="Mobile" id="plgmobile" tabindex="5" maxlength="10" placeholder="Mobile Number">

        </div>
        </div>
        </div>
        <div class="col-md-3 center">
          
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tooltip-contact">
          <textarea rows="2" cols="50" id="plgmessg" class="feedbackbox" tabindex="6" placeholder="Message"></textarea>

        </div>

       
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 dashboard-login hm_tooltip">
              <img src="/assets/Captacha.jpg" class="img-responsive" id="imgCaptchaLogIn" style="padding-bottom: 8px;">

            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 crefreshsymbol">
              <i class="glyphicon glyphicon-refresh" style="cursor: pointer; margin-top:12px; margin-left:-15px;" title="refreshcaptcha"></i>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dashboard-login captch">
              <div class="tooltip-contacts">
                <input type="text" class="feedbackbox" id="txtCaptchLogIn" tabindex="7" oncopy="return false" onpaste="return false" maxlength="4"
                  placeholder="Entercaptcha">

              </div>
            </div>
          </div>
        
        <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" id="button" style="height: 59px;">
          <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12 sub-mit" align="right">
            <input type="button" class="reset resetbtn btn" name="signup_submit" tabindex="8" value="Reset">

            <input type="button" name="signup_submit" class="submitbtn btn" tabindex="9" value="Submit">
          </div>
        </div>
</div>
     
  
</div>


<div id="footer" style="text-align: center;">
  <p>
    <font color="black">Copyright (c) 2018 mysite.com All rights reserved</font>
  </p>
</div>