<div class="container-fluid">
                <div class="row">
                        <div class="col80">
                            <div class="form-title">
                              <h6>  News & Updates</h6>
                            </div>
                        </div>
                      <div class="col40">
                          <button type="button" class="custom-button-width">More..</button>
                        
                      </div>
                </div>
            

        <div class="box40" *ngFor="let item of newsupdates">
    
              <p>  {{item.news}}</p>
        </div>
</div>