/* You can add global styles to this file, and also import other style files */
body,html{
      background-color:rgba(250, 250, 226, 0.877) !important;  
    font-family:'Arial','Segoe UI' ,'Roboto','Peddana';;
    background-image: url("./assets/fresh_snow.png") 
   }



.background {
    /* The image used */
    /* background-image: url("./assets/background.jpg"); */

    /* Half height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.garland{
    background-image: url("./assets/garland.png");
    background-repeat: repeat-x;
    width:boxshadow 100%;
    height: 30px;
}
.vertical-center {
    display: flex; 
    align-items : center;
    width: 100%;
  }

  .spacetop{
      margin-top:15px
  }
  .spaceleft{
    margin-left:5px !important;
}
.spaceright{
    margin-right:5px !important;
}

.pageimg img{
 
    border: 6px solid #e4d5ba;
    padding: 2px;
    width:286px;
    height:206px;
  }
   
  

  .gridheader{
     
        color:white !important;
        /* margin: 1px; */
        background-color:#117e9e;
        border-right: 4px solid white;
      
        padding: 8px 0 8px 0;
        height: 40px;
        text-align: center;
  }
  .gridheader h6{
    color:white !important;
  }
  .gridcell{
    background-color: #5999a7;
    color:white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    
    
    
    

  }
  .gridcell p{
     text-align:left !important;
     margin:3px;
  }
  .gridcell-auto{
    background-color: #5999a7;
    color:white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    padding-bottom: 10px;
    text-align:center;
    

  }
  .gridcell-auto p{
      margin-top:4px;
  }

  .list-group-item{
    border-top:10px  solid  #A9A9A9 !important ;
    margin-top:2px;
    box-shadow: rgba(0, 0, 0,0.5) !important ;
  }
  .list-group-small {
      
    list-style: none;
    padding:0px;
    margin:0px;
    background: rgb(9, 163, 224);
    background: linear-gradient(60deg,#20829a, #bfcae0);
  }


  
  .list-group-small li
	{   color: white;
        border-color:  #117e9e;
        border-style:  solid;
        border-width:0px 0px 2px 0px;
        height:40px;
        margin:5px;
        padding-right:5px;
    }
    .list-group-small li:hover
	{
        color: #117e9e;
        background-color: #43e1ecd0 !important;
    }
   
    .verticalscrl{
        height:800px;
overflow:scroll;
    }
  .list-group-item img{
   width:100px;
   height:120px;
  }
  .list-group-item p{
    font-size: 13px;
   }
   
   .list-group > li:hover  {
    color: rgb(134, 94, 94) !important;
    cursor: pointer;
    background-color: #43e1ec18 !important;
    /* border: 1px solid #ddd; */
    border-bottom-color: transparent;
}

  
  .alignleft {
    float: left;
    vertical-align: center;
    text-align: justify;
}
.aligncenter {
    float: center;
    text-align: justify;
}
.media-body{
    padding-left: 5px !important;
}

  .gridcellbtn{
      background-color: #ffc443;
      color: white;
      /* height:25px;
      width: 80px; */
      text-align: center;
      cursor: pointer; 
     
    /* border-radius: 1.25rem; */
    border: 1px solid transparent;
   
    padding: 5px 12px;
    margin-bottom: 0;
    font-size: 12px;
   
    line-height: 0.5 !important;
    text-align: center;
   
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  /* used for telugu font spacing and height */
  .descbox{
      background-color:white;
      margin-top:10px;
     
      padding:5px;
      
  }
  .descbox h6{
    color:white !important;
    font-weight: bold !important;
    
}

  .telugufont{
    
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align:  justify;
    vertical-align: middle;
    min-height:40px !important;
  }

  
    
  /* Hides extra classes */
  
/* page title */
.boxshadow img{
    width: 100%;
    height:100%;
    border: 10px solid #25da0de1;
    border-style: inset;
}

/* .templebg  {
    background-image: url("assets/1Large.png");
    background-repeat: no-repeat;
    
    background-size: cover;
} */

.pagetitle  .heading{
    
    display:inline-block;
    width:60%;
    text-align:center;
    font-size:x-large;
    color:rgb(40, 66, 122);
    margin-top:10px;
    
}
.pagetitle  .spanright{
   
    float:right;
    width: 20%;
    
}
.pagetitle  .spanleft{
    float:left;
    width: 20%;
}
.row .glyphicon {
    font-size: 24px;
}
.glyphicon-hand-right:before {
    content: "\e127";
}

.glyphicon {
    font-size: 24px;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.glyphicon {
position: relative;
top: 1px;
display: inline-block;
font-family: 'Glyphicons Halflings';
font-style: normal;
font-weight: normal;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

}
.pagenote{
    margin:20px 0 0 0;
    text-align:center;
}
.pagenote ul li{
    color:rgb(236, 63, 121);
    
    list-style:none;
    
}
/*

#boxshadow img {
    width: 100%;
    border: 1px solid #8a4419;
    border-style: inset;
} */
/* .img-fluid{
    border:0px solid blue;
background-color:orange;
box-shadow:
  rgba(0,0,0,0.4)
  10px 10px;
} */

.boxfixedheight{
    max-height: 500px;
min-height: 350px;  

overflow: hidden;
position: relative;
-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
-webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
box-shadow: 1px 2px 4px #aaaaaa;
padding: 10px;
background: white;
}

/* Annadaanambox div */
.inputbox{
    padding: 5px;
    margin-left: 15px;
    bottom: 1px;
    border: 1px solid #8a4419;
}


/* .garlandbg{

    
    border: 10px solid transparent;
    padding: 15px;
     border-image: url("./assets/border.png") 30% round; 
    width: auto;
    height: auto;
} */


.page-header{   
    margin-top:0;
}
.panel-body{

    padding-top: 0;
}
.bannerimg {
    width: 100% !important;
    height: auto !important;
    margin: auto;
   padding-left:0px;
   padding-right:0px;
}
.img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border: 0;
  }
 
.img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}
.footerbox{
    background-color:#c03c5d65;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#footer{
    text-align: center;
     color: rgba(141, 117, 74, 0.87)
} 



.potal_galleryfld {
    padding: 8px !important;
    margin-top: 15px;
}
.potal_gallery {
    /* background: #fff; */
    padding: 5px;
    border: 0px solid rgba(207, 199, 191, 1);
    margin-bottom: 5px;
    cursor: pointer;
    
    
}

/* Donation buttons color and width&height */

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #fff;
    cursor: pointer;
    background-color: #cf3838;
    /* border: 1px solid #ddd; */
    border-bottom-color: transparent;
}
.nav-tabs > li > a {
    margin-right: 7px;
    color: #fff !important;
    line-height: 1.42857143;
    border: 5px solid transparent;
    border-radius: 4px 4px 0 0;
    background-color: #ada7a7;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 5px;
}



/* donate and reset button color styles */
.form-button {
    font-size: 18px;
    font-weight: 600;
    color: #000;
    border-radius: 12px;
    text-transform: uppercase;
    cursor: pointer;
    height: 40px;
    border: none;
    padding: 0 45px;
    margin: 10px 0;
    background-color: #f79506;
}
/* More.. button style */
.more{
    
    background-color:#007bff;
}
/* form-title style */
/* .form-title{
    font-size:24px;
    color:dodgerblue;
} */
.col80{
    float: left;
    width: 70%;
    display: block;
}
.col40{
    float: left;
 width:30%;
 display: block;

}


/* sevas, timmings, news box */

.timebox40{
    max-height: 300px;
    min-height: 200px;
    overflow: hidden; 
}
.timebox60{
max-height: 300px;
min-height: 200px;
overflow: hidden;   
}
.timebox80{
    max-height: 600px;
    min-height: 450px;
    overflow: hidden; 
}
.box40 {
    background-color: #ffe4a9;
    border-radius: 5px;
    min-width: 265px;    
    border: 0px solid #5E5C5C;
    margin-bottom: 3px;
   padding: 5px;
     /* height: 170px;  */
}
.box40 p{
    font-size: 13px;
    font-family: 'Roboto'
}
.box40 h5 {
    color: #d42204;
    margin-top: 0px;
     
    margin-bottom: 1px;
   
    line-height: 18px;
    font-size: 15px;
}
.about_text p{
   
    border-radius: 5px;
    min-width: 265px;
  
   
   
   padding: 5px;
    /* height: 170px; */
 font-family: 'Roboto';

    text-align: justify;
    font-size: 15px;
     text-justify: inter-word;
    margin-bottom:0px;
  
}
.about_text p img{
    width:500px;
    
    float: right;
    border: 1px dotted black;
    margin: 0px 0px 15px 20px;
}
.hometitle h5{
    color: rgb(214, 93, 6);
    text-align: center
}
.box40 p:nth-child(even) {
    margin-top: 0px;
    line-height: 18px;
}
.box40 p {
    color: #7a5c01;
    border-bottom: 0.5px solid rgba(153, 115, 0, 0.2);
    margin-bottom:0px;
    font-size: 13px;
}

/* 
.box40 h5 {
    color: #d42204;
    margin-top: 0px;
   
    margin-bottom: 1px;
   
    line-height: 18px;
    font-size: 13px;
}	 */
.input-group{
    width:96% !important;
}
.input-group select{
    padding:0 0 0 5px !important;
    
    }
    .textareaheight{
        min-height: 60px !important;
        
        }
.input-group span{
width:25% !important;
font-size:15px !important;
}
.input-group .form-control{
    width:50% !important;
    height:28px !important;
    font-size:14px !important;
    }
.ftrbg{
    background-color:#28dbf317;
    box-shadow: 1px 2px 4px #b6daee;
    padding-top:10px 0 0 10px;
    border-top:10px solid  rgba(214, 206, 233, 0.863);
    font-size:13px;
    margin-top:50px;

}
.ftrbg img{
    width:100% !important;
    height: 80% !important;

}
.borderaround{
    border-right: 5px solid rgba(165, 91, 17, 0.226);
    box-shadow: 1px 2px 4px #b6daee;
height:90%;
margin-top:10px;
}
.ftrbg h1,h2,h3,h4,h5,h6{
    color:rgba(13, 51, 175, 0.959) !important;
    font-weight: 400 !important;
}
.ftrbg p{
    padding:1px;
    line-height: 0.5rem;
}
.contact_layt p{
   
    font-size: 13px;
    
}
.custom-width{
    width: 120px;
    background-color: rgb(250, 147, 73);
    color: #FFF;
    cursor: pointer;
    border-radius: 1.25rem;
    border: 6px solid transparent;
   
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
   
    line-height: 0.5 !important;
    text-align: center;
   
}
.custom-button-width {
    width: 80px;
    background-color: #615F5D;
    color: #FFF;
    cursor: pointer;
    border-radius: 1.25rem;
    border: 1px solid transparent;
   
    padding: 5px 12px;
    margin-bottom: 0;
    font-size: 14px;
   
    line-height: 0.5 !important;
    text-align: center;
   
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
       
    /* transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; */

}
.custom-input-width {
	width:150px;
    margin-right:150px;
   
}

.showimg {
    display:block;

}
.hideimg{
    display:none
}

img{
    width:100%;
    height:100%;
}

.modal-dialog {
  
   width: 100% !important;
   height: auto !important;
   max-width: 1500px !important;
    
}

.btnleft{
    align-content: center;
}



/* #img{
    max-width: 27%;
} */
/* contact div Feedback */
@media (min-width: 1200px){
    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
    }
    @media (min-width: 1200px){
    .col-lg-4 {
        width: 33.333333%;
    }
    }



.contact_layt h1 {
    padding-bottom: 10px;
    color: #ff6a00;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
   
    margin-top: 25px;
    margin-bottom: 10px;
}
.contact-form .contact-details {
     padding: 29px;
   /* font-family: Verdana; */
    border: 1px solid rgba(0,0,0,0.3);
}
.contact-form .contact-details h3 {
    color: #FF6A00;
   
    font-size: 13px;
    margin-top: 5px;
}
.contact-form .contact-details p {
    color: #5c5c5c;
}

.contact-details .contact-subdetails {
    background: rgba(253, 231, 176, 0.79);
    padding: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    margin-top: 25px;
    border-radius: 3px;
}

/* My Complaints */


.contact_portal {
    margin-top: 83px;
    margin-bottom: 2px;
}
.cont_forms {
    padding: 10px;
   
    border: 1px solid rgba(0,0,0,0.3);
}
.navbar{
    /* background-color: #b35512fc; */

    background: rgb(9, 163, 224); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(60deg,#20829a, #bfcae0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(60deg,#20829a, #bfcae0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(60deg,#20829a, #bfcae0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(60deg,#20829a, #bfcae0); /* Standard syntax */

    color: white !important; 
}
.dropdown-menu{
    background-color: #20829a !important;
}
.nav-link{
    color: white !important;

}
a.dropdown-item{
    color: white !important;
}
.dropdown-menu >a:hover{
    background-color:  #bfcae0 !important;
  
 }
 a:hover{
    background-color:  #bfcae0 !important;

  
 }
 .nav-link {
     text-transform: capitalize;
    }

  nav ul {
    display: table;
    padding: 0;
    /* margin: 275px; */
    width: 100%;
  }
  
  
  nav ul li {
    text-align: center;
     display: table-cell; 
    min-width: 8%;
    border-right:2px solid rgba(253, 231, 176, 0.79)
  } 
  
 
  .sidelist{
      margin-top:10px;
  }
  .sidelist ul li{
    list-style-type: none;
    margin-bottom:3px;
    background:rgba(0,0,0,0.3);
    color:white;
    
  }

  .sidelist ul li:hover{
    background-color: #e4c5c5;
  }
  

/* Clear floats (clearfix hack) */


/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}
.btn-group{
    text-align:right !important;
    margin-top:5px !important;
}
.btn-group  .btn{
    
    height:32px !important;
    
}

.comptempsel {
    display: block;
    box-sizing: border-box !important;
    margin-bottom: 12px;
    padding: 0px;
    padding-bottom: 8px;
    width: 90%;
    border: 0px !important;
    border-bottom: 1px solid rgba(0,0,0,0.3) !important;
   
    font-weight: 400;
    font-size: 13px;
    background: transparent !important;
    color: #5c5c5c;
    outline: none !important;
  
    border-radius: 0px !important;
}

element.style {
    cursor: pointer;
    margin-top: 12px;
    margin-left: -15px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
  
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.feedbackbox {
    display: block;
    box-sizing: border-box;
    margin-bottom: 12px;
    
    width: 90%;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
  
    font-weight: 400;
    font-size: 13px;
    background: transparent;
    color: #5c5c5c;
    outline: none;
}

/* Contact table */

.complaintsdetails table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-top: 30px;
}
.complaintsdetails th, .complaintsdetails td {
    background: rgba(253, 235, 191, 0.75);
    border: 0.3px solid rgba(92, 92, 92, 0.3);
    text-align: left;
    padding: 8px;
   
    font-size: 14px;
    color: #5c5c5c;
}

/* .contact-form {
    background: rgba(253, 235, 191, 0.75);
} */
.complaintsdetails th {
    background: #ff6a00;
    
   
    font-size: 15px;
}

.gradorange {
    background: #F2C14E; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(30deg, #F2C14E, #F78154); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(30deg, #F2C14E, #F78154); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(30deg, #F2C14E, #F78154); /* For Firefox 3.6 to 15 */
    background: linear-gradient(30deg, #F2C14E, #F78154); /* Standard syntax */
color:#fff;  
margin-bottom: 5px; 
}
.gradblue {
    background: rgb(55, 182, 233); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(30deg, #52c8ea, #89f1e7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(30deg, #52c8ea, #89f1e7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(30deg, #52c8ea, #89f1e7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(30deg, #52c8ea, #89f1e7); /* Standard syntax */
color:#37373e;  
margin-bottom: 5px; 
}
.gradgreen {
    background: #F2C14E; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(30deg, #11cc4a, #209e09); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(30deg, #11cc4a, #209e09); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(30deg, #11cc4a, #209e09); /* For Firefox 3.6 to 15 */
    background: linear-gradient(30deg, #11cc4a, #209e09); /* Standard syntax */
color:#fff;   
}

.price span{
    background-color: #6a8a6edb;
    color:#e8e9ce;
    margin:2px;
    border:2px solid;
    border-radius: 2px;
    font-size : 16px;
}
.inputbox span{
    color:#209e09;
   
}
/*donation details border dashed */

.borderdashed{
width: 100%;
 clear: both;
  border-bottom: dashed 1px #073881;

}
.view h5{
   text-align: center;
    color: rgb(238, 31, 16);
}


