
<app-menu></app-menu>
<div class="row"> 
 <div class="garland">
  
 </div>
</div>
<app-banner></app-banner>

&nbsp; &nbsp;
<div class="row">
    <div class="col-4">

        <app-sevas></app-sevas>

        &nbsp; &nbsp;
        <app-timings></app-timings>

        &nbsp; &nbsp;
        <app-newsupdate></app-newsupdate>

    </div>
    <div class="col-3">
        <img src="/assets/Optimized-Granites3-thumbnail.png" class="img-responsive">
    </div>
    <div class="col-5">
        <app-about></app-about>

    </div>
</div>

&nbsp; &nbsp;
<div class="col-lg-12  col-md-12  col-xs-12 col-sm-12">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6 potal_galleryfld ng-scope">
               
                    <img src="/assets/1.png" class="img-responsive">
              
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6 potal_galleryfld ng-scope">
               
                    <img src="/assets/radham-thumbnail.png" class="img-responsive">
              
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6 potal_galleryfld ng-scope">
               
                    <img src="/assets/utsavamurthiabhishekam-thumbnail.png" class="img-responsive">
              
            </div>
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6 potal_galleryfld ng-scope">
               
                    <img src="/assets/Optimized-annadanam-thumbnail.png" class="img-responsive">
              
            </div>
    
        </div>
       
    </div>

<div class="container">
    <div class="row">

    </div>
</div>

&nbsp; &nbsp;